body{
    background-image: url(https://static01.nyt.com/images/2017/08/20/business/20CORNER1/20CORNER1-superJumbo.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
table,th,td{
    border: 1px solid black; 
    background-color:rgba(255, 182, 193, 0.404);
}